#about {
    .avatar {
        background-color: $dark-blue;
        position: relative;
        width: 200px;
        height: 200px;

        img {
            object-fit: cover;
            object-position: center top;
            width: 200px;
            height: 200px;
        }

        @include breakpoint(md) {
            width: 300px;
            height: 300px;

            img {
                width: 300px;
                height: 300px;
            }
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translate(20px, 20px);
            border: 2px solid $white;
            z-index: -1;
        }
    }

    .links {
        margin-top: 3rem;
        display: flex;
        justify-content: center;

        @include breakpoint(lg) {
            justify-content: flex-start;
        }

        a {
            margin: 0 1rem;
            img {
                height: 24px;
                width: auto;
            }
        }
    }

    .skills {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: list;

        li {
            margin-bottom: 1rem;
            flex-basis: calc(30%);
            color: $orange;
            padding-left: 24px;

            &:before {
                content: "-";
                position: absolute;
                margin-left: -24px;
            }
        }
    }
}
