#work {
    .work {
        margin-bottom: 3rem;
        position: relative;
        display: flex;

        &__thumbnail {
            height: 250px;
            width: 100%;
            margin-bottom: 1rem;

            img {
                object-fit: cover;
                height: 250px;
                width: 100% !important;
                background-color: $dark-blue;
                border: 1px solid $white;
            }

            &::after {
                display: none;
                position: absolute;
                content: "";
                height: 1px;
                background-color: $orange;
                bottom: 1.5rem;
                right: 0;
                left: 0;

                @include breakpoint(md) {
                    right: -60px;
                    left: -60px;
                    display: none;
                    transform: translateX(60%);
                }

                @include breakpoint(lg) {
                    right: -80px;
                    transform: translateX(50%);
                }

                @include breakpoint(xl) {
                    right: -200px;
                    left: 0;
                    transform: translateX(40%);
                }
            }
        }

        &__title {
            color: $orange;
            margin-bottom: 1rem;
        }

        &__link {
            display: flex;
            margin-top: 2rem;
            margin-bottom: 2rem;
            align-self: center;

            @include breakpoint(md) {
                margin-top: auto;
                align-self: flex-end;
            }

            p {
                font-style: italic;
            }
            
            a {
                margin-left: 1rem;
                
                img {
                    width: 22px;
                    // width: 28px;
                }
            }

        }
    }
}
