.btn {
    width: 100%;
    padding: 24px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    
    @include breakpoint(sm) {
        margin: 0 auto;
        width: fit-content;
    }

    @include breakpoint(lg) {
        margin: unset;
    }
    
    &--primary {
        border: 1px solid $white;
        color: $white;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: $dark-blue;
        }
    }
}