@font-face {
    font-family: "Poppins";
    src: url("/dist/assets/fonts/Poppins-Regular.woff") format("woff"),
        url("/dist/assets/fonts/Poppins-Regular.woff2") format("woff2");
}

// breakpoints min width
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// fonts
$font-stack: Helvetica, sans-serif;

// colors
$white: #ececec;
$grey: #aaaaaa;
$dark-blue: #30475e;
$black: #222831;
$orange: #f2a365;
