// breakpoints
$small: 768px;
$medium: 992px;
$large: 1200px;

// fonts
$font-stack: Helvetica, sans-serif;

// colors
$base-color: black;
$primary-color: red;
$secondary-color: orangered;
$accent-color: orange;
